
// Primary Color Palette
$a-blue-2E3191: #2E3191;
$a-blue-0F2A43: #0F2A43;
$a-blue-005BC0: #005BC0;
$a-blue-0874D9: #0874D9;
$a-blue-F9FAFC: #F9FAFC;

$a-gray-343443: #343443;
$a-gray-F9FAFB: #F9FAFB;
